.root {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 6px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  z-index: 10;
}

.sm {
  max-width: 36rem;
}
