.root {
  padding: 1rem;
}

.label {
  color: var(--color-gray-200);
  font-weight: 600;
  display: block;
  margin-bottom: 0.75rem;
}

.actionsBox {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.actionsBox button:first-child {
  margin-right: 1rem;
}

.helperErrorText {
  font-size: var(--fontSize-sm);
  margin-top: 0.5rem;
  display: block;
}
