.root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #dddee6;
  color: #fff;
}

.overlineText {
  font-size: var(--fontSize-lg);
  margin-bottom: 0.5rem;
  display: block;
}

.categoryTitle {
  font-size: var(--fontSize-3xl);
}
